body{
    /* margin: 0; */
    padding: 0;
}


#sidebar-left{
    height: 100vh;
    width: 200px;
    background: #830b0b;

}
#sidebar-right{
    height: 100vh;
    width: 200px;
    background: #c26b6b;

}
#canvas{
    height: 100vh;
    width: 100vh;
    flex:1;
}

#container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonShape{
    margin: 10px 5px;
    background: #46007b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shape-label{
    display: flex;
    flex-direction:column;
    
}

#squareAttribute{
    display: none;
}


#rectangleAttribute{
    display: none;
}

#polygonAttribute{
    display: none;
}